<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | RoadGuard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/signup.css">
</head>
<body>
    <nav class="nav-bar">
        <div class="logo">
            <h2>RoadGuard</h2>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search for mechanic shop...">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
            </ul>
        </div>
    </nav>
    <div class="role-select">
        <h2><i class="fa-solid fa-star"></i>Select Your Role<i class="fa-solid fa-star"></i></h2>
        <a href="/signup/mechanic" class="role-button">Mechanic</a>
        <a href="/signup/customer" class="role-button">Customer</a>
    </div>
    <footer class="footer">
        <p>&copy; 2025 RoadGuard. All rights reserved.</p>
        <div class="social-media">

            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="footer-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#">Contact Us</a>
        </div>
    </footer>
</body>
</html>